apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: three-tier
  labels:
    role: frontend
    env: demo
spec:
  replicas: 2
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      containers:
        - name: frontend
          image: kishan7798/frontend-app:c769d20
          imagePullPolicy: Always
          env:
            - name: REACT_APP_BACKEND_URL
              value: "http://api.three-tier.svc.cluster.local:3500/tasks"
          ports:
            - containerPort: 3000
